@import "tailwindcss";

/* 🔥 Definindo sua paleta no Tailwind v4 */

@theme {
  --color-brand-background: #262220 !important;
  --color-brand-surface: #a15c38 !important;
  --color-brand-primary: #c3a6a0 !important;
  --color-brand-accent: #f7f1f0 !important;
}

/* Reset básico */

body {
  @apply bg-brand-background text-brand-accent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}