@import "tailwindcss";

/* 🔥 Definindo sua paleta no Tailwind v4 */

@theme {
  --color-brand-background: #1d1716;
  --color-brand-surface: #402a23;
  --color-brand-primary: #a55233;
  --color-brand-accent: #f3bc77;
}

/* Reset básico */

body {
  @apply bg-brand-background text-brand-accent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}